header {
    height: 4vh;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;

    width: 85vw;
    max-width: 1280px;
    margin-bottom: 2em;

    & .header_content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;


        & p {
            margin-left: 4em;
        }
    }
}

header>p {
    justify-self: center;
}

header ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    gap: 1.5rem;
}

header ul li {
    margin: 0 1rem;
}

header a {
    background: var(--accent, #2844BD);
    color: var(--text, #fff);
    border: 1px solid #ccc;
    padding: 0.5rem 2rem;
    text-decoration: none;
    border-radius: 0.5rem;
}

header a:hover {
    background: var(--accent-hover, #646cff);
    color: var(--text-hover, #fff);
}