header {
    height: 10vh;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    width: 98.7vw;
    max-width: 1280px;
    background: var(--background, #b1c3ca);
    backdrop-filter: blur(3px);

    z-index: 2;

    & .header_content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;


        & p {
            margin-left: 3.5em;
        }
    }
}

header>p {
    justify-self: center;
}

header ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    gap: 1.5rem;
}

header ul li {
    margin: 0 1rem;
}

header a {
    background: var(--accent, #256D85);
    color: var(--text, #fff);
    border: 1px solid var(--accent, #256D85);
    padding: 0.5rem 2rem;
    text-decoration: none;
    border-radius: 0.5rem;
}

header a:hover {
    background: var(--accent-hover, #47B5FF);
    color: var(--text-hover, #fff);
}