.list_on_page {

    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & #lista_metas {
        display: grid;
        /* duas colunas*/
        grid-template-columns: 1fr 1fr;
    }
}