.Secao_acoes {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 65%;
    gap: 1em;
}

.div_Values {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1.5em;
}

.buttons_Action_div {
    width: fit-content;
}

.button_Action {
    width: fit-content;
    height: fit-content;
    background: transparent;
    padding: 0;
    border: none;

    & img {
        width: 1.8em;
        height: 1.8em;
        margin: 0;
        padding: 0;

        box-shadow: none;
        /* adicionando sombra na cor accent*/
        filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.694));
    }

    &:hover {
        background: transparent;
        border: none;
        box-shadow: none;

        & img {
            animation: pulse 1s infinite;
            filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.67));
        }
    }
}

ul.options_Action {
    display: none;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

ul.options_Action-active {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    /*
    animação para que os itens apareçam de cima para baixo
    */
    animation: slideIn 1.5s ease-in-out;

    margin-top: 1em;
    position: absolute;
    right: 7%;
    gap: .8em;

    & li button {
        margin: 0;
    }
}



ul li button {
    width: 170px;
    height: 31px;
    flex-shrink: 0;
    border-radius: 14.246px;
    border: 0.5px solid var(--accent, #2844BD);
    background: var(--buttons-secondary, #CCCFE0);

    color: var(--text, #13201E);
    text-align: center;
    font-family: Eina03-SemiBold;
    font-size: .8em;
    font-style: normal;
    font-weight: 400;
    line-height: 0px;

    box-shadow: #13201E -3px 1px 10px;

    &:hover {
        background: var(--accent, #2844BD);
        color: var(--buttons-primary-text, #FFFFFF);
    }

    &:active {
        box-shadow: #13201E 3px 1px 10px;
    }

    &:focus {
        outline: none;
    }

    &:disabled {
        background: var(--buttons-disabled, #E5E5E5);
        color: var(--buttons-disabled-text, #b3adad);
        box-shadow: none;
        cursor: not-allowed;
    }
}


.Background-blur {
    position: absolute;
    margin: auto;
    z-index: 2;
    /* centraliza o elemento */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    backdrop-filter: blur(1.1px);

    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    padding-bottom: 20vh;
    gap: 0;

    &#background-form {
        padding-bottom: 34%;
        min-height: 100vh;
        max-height: 140vh;
    }
}