ul.buttons_Action {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

ul li button {
    width: 196px;
    height: 33px;
    flex-shrink: 0;
    border-radius: 14.246px;
    border: 0.5px solid var(--accent, #2844BD);
    background: var(--buttons-secondary, #CCCFE0);
    box-shadow: 0px 4.74877px 10px 0px rgba(0, 0, 0, 0.08);

    color: var(--text, #13201E);
    text-align: center;
    font-family: Eina03-SemiBold;
    font-size: .8em;
    font-style: normal;
    font-weight: 400;
    line-height: 0px;
}