.categoria {
    width: 23em;
    height: 5.5em;
    padding: 1em 2em;
    border-radius: 14.246px;
    background: #D2E2E0;
    box-shadow: #13201E -3px 1px 10px;

    backdrop-filter: blur(70.32758712768555px);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5em;

    cursor: pointer;

    &:hover {
        box-shadow: #13201E -3px 1px 10px, #13201E -3px 1px 10px;
        background: #E1F0EE;
        transition: 0.3s;

        & h3 {
            color: var(--accent, #2844BD);
        }
    }
}

.categoria-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.categoria-valores {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: fit-content;
    padding: 0 .5em;

    & * {
        white-space: nowrap;
    }
}

.orcamento-false {
    color: #FFF;
    flex-shrink: 0;
    padding-left: 1.8em !important;
}

.gastoCategoria,
.orcamento-true,
.orcamento-true,
.emptyBudget,
.dataCriacao {
    min-width: 58px;
    height: 100%;
    font-family: Eina03-SemiBold;
    font-size: 19px;
    line-height: 32.8px;
    text-align: left;
}

.orcamento-true {
    color: var(--green, #02B15A);
    flex-shrink: 0;
}

.gastoCategoria {
    color: var(--value-discount, #E54444);
    flex-shrink: 0;
}


.emptyBudget {
    font-size: 14px;
    color: var(--text, #13201E);
}