.div_categorias {
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.search-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 5em;
    padding: 0 1em 0.2em .3em;
}

.list_on_page .listValues {
    height: 35vh;
}

#title-list-categoria {
    gap: 40%;
}