.ListTransacoesSimple,
.transaction-graph,
.div_categorias,
.legend-transacoes,
.legend-categorias,
.anchors_to_transacoesPage,
.anchors_to_categoriasPage {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.listValues {
    display: flex;
    height: 48%;
    justify-content: flex-start;
    flex-direction: column;
    list-style: none;
    gap: 0.5em;
    width: 37em;
}

.list_on_page :is(.legend-transacoes, .legend-categorias) {
    align-self: flex-start;
    margin-left: 2em;
    width: 34em;
}

.anchors_to_transacoesPage,
.anchors_to_categoriasPage {
    width: 100%;
    justify-content: flex-start;
    margin-left: .3em;
    gap: 48%;
}

.legend-transacoes {
    width: 90%;
    justify-content: space-between;
    padding: 0 1em 0.2em .3em;
    margin-left: .6em;

    & * {
        color: var(--text-secondary, #AEABD8);
        font-family: Eina03-Regular;
        font-size: 13px;
        font-weight: 400;
    }
}

:is(.ListTransacoesSimple, .transaction-graph, .div_categorias) h2 {
    color: var(--text, #FFF);
    font-family: Eina03-SemiBold;
    font-size: 19.1px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    text-align: left;
    margin: 0;
    padding: 0;
}

.ListTransacoesSimple,
.transaction-graph,
.div_categorias {
    flex-direction: column;
    gap: 1em;

    border-radius: 20px;
    background: #1D1D41;
    box-shadow: 3px 5px 10px #0000008f, 0px 2px 6px #0000000a, 0px 16px 24px #0000000f;
    height: 240px;
    width: 40em;
    padding: .5em 1em 1.1em 2.5em;
    /* 1 => top, 2 => right, 3 => bottom, 4 => left */
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}