#listTransacoes {
    flex-flow: row wrap;
    width: 800px;
}

.list_transacoes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list_on_page>#listTransacoes {
    gap: 1.5em;
    justify-content: flex-start;
    margin: 0;
}