#listTransacoes {
    flex-flow: row wrap;
    width: 800px;
}

.list_transacoes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list_on_page>#listTransacoes {
    gap: 1.5em;
    justify-content: flex-start;
    margin: 0;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.pagination-button,
.pagination-button-active,
.pagination-button-disabled {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    border: 1px solid #BEBEBE;
    background: #FFF;
    cursor: pointer;

    transition: all 0.2s ease-in-out;

    &:hover {
        background: #F2F2F2;
    }

    &:active {
        background: #E9E1FF;
    }

    &:focus {
        outline: none;
    }

    &>* {
        pointer-events: none;
    }
}

.pagination-button-active {
    border: 1px solid #7949FF;
    background: #E9E1FF;

    &:hover {
        background: #E9E1FF;
    }
}

.pagination-button-disabled {
    border: 1px solid #BEBEBE;
    background: #FFF;
    opacity: 0.3;

    &:hover {
        background: #FFF;
    }
}