#checkbox-orcamento {
    width: 18px;
    height: 18px;
}

#orcamento-div {
    display: flex;
    flex-direction: column;
    margin-right: 9.5em;
    & *{
        margin: 0;
    }
    gap: 2px;
    align-items: flex-start;
}