main.Home {
    width: 70vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 1.5em 0;
}


.achors-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40em;
    height: 100%;

    & .title-section {
        color: var(--accent, #2844BD);
        font-family: Eina03-SemiBold;
        font-size: 21.369px;
        font-style: normal;
        font-weight: 400;
        line-height: 35.046px;

        & * {
            margin: 0;
            text-shadow: 0px 4.74877px 10px 0px rgba(0, 0, 0, 0.08);
        }

        &:hover {
            color: var(--accent-hover, #646cff);
        }
    }

    & .anchor-page {
        color: var(--buttons-primary, #573239);
        font-family: Eina03-SemiBold;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 19.68px;

        &:hover {
            color: var(--buttons-primary-hover, #646cff);
        }
    }
}

section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    margin-top: 2em;
}