.successmsg {
    color: green;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

    animation: blinker 1s linear infinite;
}

.errormsg {
    color: red;
    font-size: 14px;
    font-weight: bold;
    text-align: center;

    animation: blinker 2s linear infinite;

    width: 80%;
    height: 40px;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.label-element-div select option:disabled {
    color: #000000;
    background: #c7e1ec;

    &:hover {
        color: #000000;
        background: #c7e1ec;
    }
}