.item {
    display: flex;
    height: 2em;
    min-width: 540px;
    gap: 0;
    align-items: center;
    justify-content: flex-start;

    &:hover {
        & .ButtonDelete {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.transacao-box {
    height: 2em;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    justify-content: center;
    padding-left: .3em;

    cursor: pointer;

    &:hover {
        transform: scale(1.01);
        transition: 0.2s;

        box-shadow: 0px 2px 4px #00000029, 0px 2px 6px #0000000a, 0px 16px 24px #0000000f;
        border-radius: 10px;

        /* para celecionar elementos, com exceção de um elemento filho,
        é necessário usar o seletor :not(), da seguinte forma:
        :not(elemento-filho) 
        */

        & div:not(.valorTransacao-saida) {
            color: var(--accent, #2844BD);
        }

        & div.valorTransacao-entrada {
            color: var(--greenHover, #018c0d);
        }

        & div.valorTransacao-saida {
            color: var(--redHover, #e83e3e);
        }
    }
}

.transacao-box .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    width: 540px;
    margin: 0;
}

.transacao-box :is(.title-icon, .div, .text-wrapper-2) {
    color: var(--text, #222423);
    font-family: "Eina03-Regular";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    width: 100px;
    text-align: left;

    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.transacao-box :is(.title-icon, .title-icon .icon-div) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.transacao-box .title-icon .icon-div {
    background-color: var(--text-secondary, #cbcfce);
    border-radius: 6px;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    justify-content: center;

    & .icon-Categoria {
        width: 18px;
        height: 18px;
    }
}

.transacao-box :is(.div, .text-wrapper-2) {
    color: var(--text-secondary, #2b3836);
    text-align: left;
}

.navbar :is(.valorTransacao-entrada, .valorTransacao-saida) {
    font-family: Eina03-Bold;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    text-align: left;
    min-width: 75px;
    margin: 0;
    padding: 0;

}

.navbar .valorTransacao-entrada {
    color: var(--green, #00a60e);
}

.navbar .valorTransacao-saida {
    color: var(--red, #E54444);
}

svg#vector {
    margin: 0;
    padding: 0;
    width: 100%;
}

.item .ButtonDelete {

    display: none;

    background-color: transparent;
    margin: 0;
    padding: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 10px;

    animation: move 0.5s ease-in-out forwards;
}

@keyframes move {
    0% {
        z-index: -1;
        opacity: 0;
        margin: 0;
    }

    100% {
        z-index: 1;
        opacity: 1;
        margin: 0 0 0 18px;
    }

}

.item .ButtonDelete:hover {
    transform: scale(1.1);
    transition: 0.2s;
}