.saldo-home {
    /* width minimo 190px e max fit-content*/
    min-width: 180px;

    max-width: fit-content;
    height: 50px;
    filter: drop-shadow(0px 8.310344696044922px 21.36945915222168px rgba(134, 136, 239, 0.37));
    background: #256d85b1;
    border-radius: 15px;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    flex-direction: row;
    padding-left: 1em;
    padding-right: 1.5em;
}

.Saldo-icon {
    width: 34.99px;
    height: 34.99px;
    border-radius: 10px;
    background: #6359E9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.saldo-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.saldo-info p {
    align-self: start;
    text-align: center;
    font-family: Eina03-SemiBold;
    font-size: 14.65px;
    font-style: normal;
    font-weight: 500;
    line-height: 23.37px;
    margin: 0;

    background: radial-gradient(167.28% 167.28% at 0% -12.5%, #FFF 0%, #DFF6FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.saldo-info span {
    padding-left: .2em;
    font-size: 17.5px;
    margin: 0;
}

.saldo-info span::before {
    content: 'R$ ';
    font-size: 17.25px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.saldo-positivo {
    color: #17FB99;

    &::before {
        background: #17FB99;
    }
}

.saldo-negativo {
    color: #9A1840;


    &::before {
        background: #9A1840;
    }
}

#saldo .percentual-negativo::before {
    content: '-';
}

#saldo .percentual-positivo::before {
    content: '+';
}