/* Define o tamanho máximo, margens e preenchimento do elemento raiz */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Define a exibição, direção, justificação e alinhamento dos itens para #root, main e form.element-details,form.add-element-form */
#root,
main,
form.element-details,
form.add-element-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  margin-bottom: 3em;
  height: fit-content;
}

form.element-details,
form.add-element-form {
  height: fit-content;
  max-height: 80vh;
  border-radius: 64.108px;
  background: var(--background, #d0d9d8ef);
  backdrop-filter: blur(3px);

  box-shadow: 16px 38px 17px 0px rgba(0, 0, 0, 0.25);
}

/* Define a exibição e alinhamento dos itens para footer e algumas divs dentro de form.element-details,form.add-element-form */
footer,
form.element-details :is(.valor-data-div, .select-group, .button-div, .checkbox-div),
form.add-element-form :is(.valor-data-div, .select-group, .button-div, .checkbox-div) {
  display: flex;
  align-items: center;
}

footer {
  justify-content: space-between;
  width: 100%;
  padding: 0 1em;
  justify-self: flex-end;
  margin-top: auto;
}

/* Define o raio da borda para input e select dentro de form.element-details,form.add-element-form */
input,
form.element-details select,
form.add-element-form select {
  border-radius: 12px;
  background-color: #CCCFE0;
  font-family: Eina03-Regular;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.32px;
  color: #13201E;
  opacity: 0.9;

  &hover {
    cursor: pointer;
  }
}

form.element-details select,
form.add-element-form select {
  width: fit-content;
  max-width: 16em;
  height: 2em;
  padding: 0 1em;

  border-radius: 6px;
  font-family: Eina03-Regular;
  border: 1px solid var(--accent, #2844BD);

  & option {
    font-family: Eina03-Regular;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.32px;
    color: #13201E;
    max-width: 16em;
    opacity: 0.9;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &::-ms-expand {
    /* -ms-expand = pseudo-elemento para o select */
    display: none;

  }

  &img {
    /* ícone do select */
    width: 1em;
    height: 1em;
    margin-left: 0.5em;

  }
}


/* Define o tamanho, margens e preenchimento para form.element-details,form.add-element-form */
input:focus,
form.element-details select:focus,
form.add-element-form select:focus {
  outline: none;
}

form.element-details *,
form.add-element-form * {
  margin: .5em;
}

form.element-details label,
form.add-element-form label {
  font-size: 12.3px;
  margin: 0;
  margin-bottom: 0.2em;
}

form.element-details :is(.label-element-div, .input-div),
form.add-element-form :is(.label-element-div, .input-div) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  border-radius: 4px;
}

form.element-details .input-div input,
form.add-element-form .input-div input {
  border: 1.4px solid var(--accent, #2844BD);
}

form.element-details .input-div input:focus,
form.add-element-form .input-div input:focus {
  border: 1.4px solid var(--accent-hover, #2844BD);
}

form.element-details .input-div .input-valor,
form.add-element-form .input-div .input-valor {
  min-width: 10em;
  height: 2em;
  padding-left: 8px;
  margin: 0;
}

form.element-details :is(.input-div .input-nome, textarea),
form.add-element-form :is(.input-div .input-nome, textarea) {
  padding: 0.8em 1em;
  border-radius: 12px;
  background: var(--buttons-secondary, #CCCFE0);
  color: var(--text, #13201E);
  font-family: Eina03-Regular;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.32px;
  margin: 0;
}

form.element-details .input-div .input-nome,
form.add-element-form .input-div .input-nome {
  width: 25em;
  height: 2.4em;
}

form.element-details .input-div .input-data,
form.add-element-form .input-div .input-data {
  width: 10em;
  height: 2em;
  padding-left: 1em;
  margin: 0;
}

form.element-details textarea,
form.add-element-form textarea {
  align-self: flex-start;
  width: 25em;
  height: 5em;
  padding: 0.8em 1em;
  resize: none;

  &::-webkit-scrollbar {
    /* barra de rolagem */
    width: .5em;
  }
}

form.element-details :is(.cancel-form-button, .submit-form-button),
form.add-element-form :is(.cancel-form-button, .submit-form-button) {
  width: 145px;
  height: 33px;
  flex-shrink: 0;
  border-radius: 14.246px;
  border: 0.5px solid var(--accent, #2844BD);
  background: var(--buttons-secondary, #CCCFE0);
  box-shadow: 0px 4.74877px 10px 0px rgba(0, 0, 0, 0.08);
  padding: 0;
  color: var(--text, #13201E);
  font-family: Eina03-Bold;
  font-size: 15px;
  font-weight: 500;
  line-height: 21.32px;
}

form.element-details .submit-form-button,
form.add-element-form .submit-form-button {
  width: 200px;
  border: 0.8px solid var(--text, #13201E);
  background: var(--accent, #2844BD);
  color: var(--buttons-primary-text, #FFFFFF);
  font-family: Eina03-SemiBold;

  &:hover {
    background: var(--accent-hover, #4d6aea);
  }

  &:disabled {
    background: var(--accent-disabled, #a3b4f5);
    border: 0.8px solid var(--accent-disabled, #a3b4f5);
    color: var(--accent-disabled-text, #FFFFFF);

    &:hover {
      background: var(--accent-disabled, #a3b4f5);

    }
  }
}

form.element-details h2,
form.add-element-form h2 {
  font-family: Eina03-SemiBold;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
  color: var(--accent, #2844BD);
  margin-bottom: 1.5em;
}

form.element-details .valor-data-div .input-data,
form.add-element-form .valor-data-div .input-data {
  &::-webkit-calendar-picker-indicator {
    /* -webkit-calendar-picker-indicator = pseudo-elemento para o input */
    filter: invert(1);
    /* inverter a cor do ícone */
    margin-right: 0.5em;
  }
}

form.add-element-form .checkbox-div {
  margin-top: 1em;
  justify-content: center;
  flex-direction: row-reverse;
  margin-right: 12.5em;

  & label {
    margin: 0;
    font-size: .8em;
  }
}