/* Define o tamanho máximo, margens e preenchimento do elemento raiz */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

/* Define a exibição, direção, justificação e alinhamento dos itens para #root, main e form.add-element-form */
#root, main, form.add-element-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Define a exibição e alinhamento dos itens para footer e algumas divs dentro de form.add-element-form */
footer, form.add-element-form .valor-data-div, form.add-element-form .select-group, form.add-element-form .button-div {
  display: flex;
  align-items: center;
}

/* Define o raio da borda para input e select dentro de form.add-element-form */
input, form.add-element-form select {
  border-radius: 12px;
  background-color: #CCCFE0;
  font-family: Eina03-Regular;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.32px;
  color: #13201E;
  opacity: 0.9;
}

input:focus, form.add-element-form select:focus {
  outline: none;
}

form.add-element-form * {
  margin: .5em;
}

form.add-element-form label {
  align-self: flex-start;
  font-size: 12px;
  margin: 0;
  margin-bottom: 0.2em;
}

form.add-element-form :is(.label-element-div, .input-div) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  border-radius: 4px;
}

form.add-element-form .input-div input {
  border: 1.4px solid var(--accent, #2844BD);
}

form.add-element-form .input-div input:focus {
  border: 1.4px solid var(--accent-hover, #2844BD);
}

form.add-element-form .input-div .input-valor {
  min-width: 10em;
  height: 2em;
  padding-left: 8px;
  margin: 0;
}

form.add-element-form .input-div .input-nome, form.add-element-form textarea {
  width: 25em;
  height: 2.4em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 12px;
  background: var(--buttons-secondary, #CCCFE0);
  color: var(--text, #13201E);
  font-family: Eina03-Regular;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.32px;
  margin: 0;
}

form.add-element-form .input-div .input-data {
  width: 10em;
  height: 2em;
  padding-left: 1em;
  margin: 0;
}

form.add-element-form textarea {
  align-self: flex-start;
  width: 35em;
  height: 5em;
  padding: 0.8em 1em;
  resize: none;
}

form.add-element-form .cancel-form-button, form.add-element-form .submit-form-button {
  width: 145px;
  height: 33px;
  flex-shrink: 0;
  border-radius: 14.246px;
  border: 0.5px solid var(--accent, #2844BD);
  background: var(--buttons-secondary, #CCCFE0);
  box-shadow: 0px 4.74877px 10px 0px rgba(0, 0, 0, 0.08);
  padding: 0;
  color: var(--text, #13201E);
  font-family: Eina03-Bold;
  font-size: 15px;
  font-weight: 500;
  line-height: 21.32px;
}

form.add-element-form .submit-form-button {
  width: 200px;
  border: 0.8px solid var(--text, #13201E);
  background: var(--accent, #2844BD);
  color: var(--buttons-primary-text, #FFFFFF);
  font-family: Eina03-SemiBold;
}

form.add-element-form h2 {
  font-family: Eina03-SemiBold;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
  color: var(--accent, #2844BD);
  margin-bottom: 1.5em;
}