form.element-details {
    background: transparent;
    box-shadow: none;

    & label {
        color: #FFF;
    }
}

.details-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    margin: .5em 5em;
    padding: 0 1em 0.2em .3em;
    position: absolute;
    top: 0;
    z-index: 3;

    background: var(--background, #1D1D41);
    backdrop-filter: blur(3px);
    border-radius: 64.108px;
    box-shadow: 16px 38px 17px 0px rgba(0, 0, 0, 0.2);

    height: fit-content;
    max-height: 95vh;

    & .close-button {
        /* background: transparent; */
        width: fit-content;
        height: fit-content;
        background: transparent;
        border: none;
        justify-self: flex-start;
        padding: 0;
        margin: 0;
    }
}

.header-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    margin-top: 2em;
    padding: 0;
    gap: 20%;

    & h2 {
        font-size: clamp(1em, 2vw, 1.5em);
        font-weight: 800;
        color: #FFF;

        text-wrap: nowrap;
    }
}

.delete-value-form {
    /* input */
    width: 100%;
    height: 100%;
    font-size: 1em;
    font-weight: 800;
    color: #47B5FF;
    text-decoration: inherit;
    background: transparent;
    border: none;
    outline: none;

    &:hover {
        cursor: pointer;
        background: #47B5FF;
        color: #DFF6FF;
    }
}

.Background-blur {
    max-height: 80vh;
}

.dataCriacao-details .created-at {
    font-size: 1em;
    font-weight: 800;
    color: #FFF;
    text-decoration: inherit;
    background: transparent;
    border: none;
    outline: none;

    & span {
        color: #7949FF;
    }
}

#categoria-details {
    background: #1d1d32;

    & input,
    textarea {
        border: 2px solid #7949FF;
        box-shadow: 0px 1px 4px 0px #7949FF;
    }
}

#desc_textarea {
    padding-top: .6em;
    padding-left: 1em;
}